<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Novo Prontuário</title>
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js" type="text/javascript"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.11/jquery.mask.min.js"></script>

  <script type="text/javascript">
    $(function () {

      var currentTime = new Date()
      var month = currentTime.getMonth() + 1;
      var day = currentTime.getDate();
      var year = currentTime.getFullYear();

      var date = day + "/" + month + "/" + year;


      $('[name=exibeDataAtual]').val(date);

    })

  </script>

</head>

<body>
  <div class="side-bar">
    <img src="img/undraw_medical_care_movn.svg">
    <h1 id="user-nome">{{user.nome}}</h1>
    <span id="user-email">{{user.email}}</span>
    <div class="side-bar-itens">
      <div class="bar">
        <a href="/cadastrar-prontuario" id="new-paciente">Novo Paciente<span class="material-icons"
            style="margin-left: 30px;">add</span></a>
        <a href="/"><span class="material-icons">home</span>Inicio</a>
        <a href="/showprontuarios"><span class="material-icons">group</span>Pacientes</a>
        {{#if user.admin}}
        <a href="/admin"><span class="material-icons">admin_panel_settings</span>Painel do administrador</a>
        <a href="/admin/cadastrar-usuario"><span class="material-icons">account_box</span>Usuarios</a>
        {{/if}}
        <a href="#"><span class="material-icons">settings</span>Configurações</a>
      </div>
      <div class="logout">
        <a href="/logout"><span class="material-icons">exit_to_app</span>Sair</a>
      </div>
    </div>
  </div>

  <div class="nav-bar">
    <div class="description">
      <h1>Novo Paciente</h1>
    </div>
  </div>

  <div class="main">
    <div id="table">
      <div class="teste" style="padding-bottom: 30px; width: 900px;">

        <form action="/cadastrar-prontuario/new-prontuario" method="POST">
          <input type="hidden" name="aluno" value="{{user.nome}}">
          <input type="hidden" name="exibeDataAtual" value="exibeDataAtual">

          <!-- inicio do Prontuário -->
          <!-- Nome do prontuario e nome completo,data de abertura-->
          {{>_msg}}
          {{#each erros}}
          <div class="alert alert-danger">{{texto}}</div>
          {{else}}

          {{/each}}
          <h1 style="font-size: 36px; margin-bottom: 16px;">Dados Pessoais</h1>

          <div class="form-row ">
            <div class="form-group col-md-4">
              <label>CPF</label>
              <input type="text" class="form-control" id="cpf" name="cpf" placeholder="___.___.___-__">
            </div>
            <div class="col">
              <label>Nome completo</label>
              <input type="text" class="form-control" id="nome" name="nome">
            </div>
          </div>

          <!--endereço,sexo -->
          <div class="form-row">

            <div class="form-group col-md-4">
              <label>Data de nasc.</label>
              <input type="text" class="form-control" id="data_nasc" name="data_nasc" placeholder="dd/mm/aaaa">
            </div>
            <div class="col-md-3" id="sexo">
              <label>Sexo:</label>
              <select class="form-control" name="sexo">
                <option>...</option>
                <option>Feminino</option>
                <option>Masculino</option>

              </select>
            </div>
            <div class="col">
              <label>Escolaridade</label>
              <select class="form-control" name="escolaridade" id="escol">
                <option>...</option>
                <option>Médio</option>
                <option>Superior</option>
                <option>Pos-Graduado</option>
                <option>Mestrado</option>
                <option>Doutorado</option>
              </select>
            </div>



          </div>


          <!-- contato,nome responsavel/cuidador -->
          <div class="form-group" id="cuidador">
            <label>Nome, Telefone ou outro tipo tipo de contato do responsável/cuidador (se aplicável)</label>
            <textarea class="form-control" id="cuidador1" name="observacoes" rows="2"></textarea>
          </div>

          <br>
          <h1 style="font-size: 36px;">Contatos</h1>
          <hr>
          <br>

          <div class="form-row">
            <div class="form-group col-md-4">
              <label for="inputPassword4">Tel. Residencial</label>
              <input type="text" class="form-control" id="telefone" name="telefone" placeholder="(99) 99999-9999">
            </div>

            <div class="col-md-4">
              <label for="inputPassword4">Celular</label>
              <input type="text" class="form-control" id="celular" name="celular" placeholder="(99) 99999-9999">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-8">
              <label for="inputEmail4">Email</label>
              <input type="email" class="form-control" id="email1" name="email" placeholder="Email@exemplo.com">
            </div>
          </div>

          <br>
          <h1 style="font-size: 36px;">Endereço</h1>
          <hr>
          <br>


          <div class="form-row">
            <div class="col-md-12">
              <label>Endereço</label>
              <input type="text" class="form-control" id="endereco" name="endereco">
            </div>
          </div>

      </div>


      <br>


      <div class="teste" style="margin-left: 20px;">
        <h1 style="font-size: 36px; margin-bottom: 16px;">Dados Clínicos</h1>

        <!--Alergia, ocupação-->
        <div class="form-row">
          <div class="form-group col">
            <label>Alergia</label>
            <input type="text" class="form-control" id="alergia1" name="alergia">
          </div>

          <div class="col">
            <label>Ocupação</label>
            <select class="form-control" name="ocupacao" id="ocupacao1">
              <option>Estudante</option>
              <option>Profissional</option>
            </select>
          </div>

        </div>

        <!--limitações-->
        </br>
        <div class="form-row">

          <label style="padding-left: 4px;">Limitação</label>
          <div class="form-group col">
            <input class="form-control" list="datalistOptions" id="exampleDataList" placeholder="Type to search...">
            <datalist id="datalistOptions">
              <option value="1">
              <option value="2">
              <option value="3">
              <option value="4">
              <option value="5">
            </datalist>
          </div>
          <label>Outras limitações</label>
          <div class="col-md-7">
            <input type="text" class="form-control" id="outrasLimitacoes" name="outrasLimitacoes">
          </div>
        </div>


        <!--Sinais Vitais-->
        <br>
        <div class="form-row">
          <label style="padding-left: 4px;">Sinais Vitais:</label>
          &nbsp;
          <label>PA</label>
          <div class="form-group col">
            <input type="text" class="form-control" id="pa1" name="pa">
          </div>
          &nbsp;&nbsp;&nbsp;&nbsp;
          <label>FC</label>
          <div class="form-group col">
            <input type="text" class="form-control" id="fc1" name="fc">
          </div>
          &nbsp;&nbsp;&nbsp;&nbsp;
          <label>FR</label>
          <div class="form-group col">
            <input type="text" class="form-control" id="fr1" name="fr">
          </div>
          &nbsp;&nbsp;&nbsp;&nbsp;
          <label>T</label>
          <div class="form-group col">
            <input type="text" class="form-control" id="t1" name="t">
          </div>
        </div>

        <!--Motivo do atendimento-->
        <div class="form-group">
          <label>Motivo do Atendimento</label>
          <input type="text" class="form-control" id="motivoatendimento1" name="motivo_atendimento">
        </div>



        <!--Doencas Cronicas-->
        <div class="form-row">
          <div class="form-group col -auto">
            <label>Doenças Cronicas:</label>
            <input type="text" class="form-control" id="doencascronicas1" name="doencas_cronicas">
          </div>
        </div>
        <!--Queixa-->
        <div class="form-row">
          <div class="form-group col -auto">
            <label>Queixa no momento:</label>
            <input type="text" class="form-control" id="queixamomento1" name="queixa_momento">
          </div>
        </div>

        <!--Anamnese-->
        <div class="form-row">

          <div class="form-group col -auto">
            <label>Anamnese</label>
            <textarea class="form-control" id="anamnese1" name="anamnese" rows="4"></textarea>
          </div>
        </div>

        <!-- Exame fisico -->
        <div class="form-row">
          <div class="form-group col -auto">
            <label>Exame Fisico</label>
            <textarea class="form-control" id="examefisico1" name="exame_fisico" rows="4"></textarea>
          </div>
        </div>

        <!-- Botão cadastrar -->
        <center>
          <button type="submit" class="btn1" data-toggle="modal" data-target="#exampleModal">
            Cadastrar
          </button>
          <!--Botão resetar -->
          <button type="reset" class="btn-cancel">Cancelar</button>
        </center>
        <br>
        </form>
      </div>
    </div>
  </div>

</body>
<script src="js/search.js"></script>
<script src="js/mask.js"></script>

</html>