<!DOCTYPE html>
<html lang="pt-br">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Prontuário Eletrônico</title>

  <!-- Custom fonts for this template-->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link
    href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
    rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="/css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
        <div class="sidebar-brand-icon rotate-n-15">
          <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Painel <sup></sup></div>
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Heading -->
      <div class="sidebar-heading">
        Opções
      </div>

      <!-- inicio nav-item -->
      <li class="nav-item">
        <a class="nav-link" href="/">
          <i class="fas fa-fw fa-home"></i>
          <span>Inicío</span></a>
      </li>

      <!-- Formularios nav-item -->
      <li class="nav-item">
        <a class="nav-link" href="/showprontuarios">
          <i class="fas fa-fw fa-table"></i>
          <span>Formulários</span></a>
      </li>

      

      <!-- Divider -->
      <hr class="sidebar-divider d-none d-md-block">

      

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

          <!-- Sidebar Toggle (Topbar) -->
          <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>

          <!-- Topbar Search -->
          <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
            <div class="input-group">
              <input type="text" class="form-control bg-light border-0 small" placeholder="Pesquisar..."
                aria-label="Search" aria-describedby="basic-addon2">
              <div class="input-group-append">
                <button class="btn btn-primary" type="button">
                  <i class="fas fa-search fa-sm"></i>
                </button>
              </div>
            </div>
          </form>

          <!-- Topbar Navbar -->
          <ul class="navbar-nav ml-auto">

            <!-- Nav Item - Search Dropdown (Visible Only XS) -->
            <li class="nav-item dropdown no-arrow d-sm-none">
              <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-search fa-fw"></i>
              </a>
              <!-- Dropdown - Messages -->
              <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                aria-labelledby="searchDropdown">
                <form class="form-inline mr-auto w-100 navbar-search">
                  <div class="input-group">
                    <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
                      aria-label="Search" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                      <button class="btn btn-primary" type="button">
                        <i class="fas fa-search fa-sm"></i>
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </li>

            <div class="topbar-divider d-none d-sm-block"></div>

            <!-- Nav Item - User Information -->
            <li class="nav-item dropdown no-arrow">
              <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                {{#if user}}
                <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{user.nome}}</span>
                {{/if}}
              </a>
              <!-- Dropdown - User Information -->
              <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                <a class="dropdown-item" href="#">
                  <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                  Perfil
                </a>
                <a class="dropdown-item" href="#">
                  <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                  Configurações
                </a>
                <a class="dropdown-item" href="#">
                  <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                  Registro de atividades
                </a>
                {{#if user.admin}}
                <a class="dropdown-item" href="/admin">
                  <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                  Painel de Administrador
                </a>
                {{/if}}
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/lougout" data-toggle="modal" data-target="#logoutModal">
                  <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                  Sair
                </a>
              </div>
            </li>

          </ul>

        </nav>
      </div>
      <!-- End of Topbar -->

      <!-- Begin Page Content -->
      <div class="container-fluid">

        <form action="/showprontuarios/edit" method="POST">
          <br>
          <!-- Nome do prontuario e nome completo,data de abertura-->
          {{>_msg}}
          <input type="hidden" name="id" value="{{prontuario._id}}">
          <div class="form-row">
            <div class="form-group col">
              <label>Nome do prontuário</label>
              <input type="text" class="form-control" id="nomepront" name="nompront" disabled>
            </div>

            <div class="col">
              <label>Data de Abertura.</label>
              <input type="date" class="form-control" id="dataAbertura" name="databert" disabled>
            </div>

            <div class="col">
              <label>Nome completo</label>
              <input type="text" class="form-control" id="nomecompleto" name="nome" value="{{prontuario.nome}}"
                disabled>
            </div>

          </div>

          <!-- data nascimento,endereço,sexo -->
          <div class="form-row">
            <div class="form-group col">
              <label>Data de nascimento</label>
              <input type="text" class="form-control" id="datanasc" name="data_nasc" value="{{prontuario.data_nasc}}"
                disabled>
            </div>

            <div class="col">
              <label>Endereço</label>
              <input type="text" class="form-control" id="endereco" name="enderec" disabled>
            </div>

            <div class="col" id="sexo">
              <label>Sexo:</label>
              <input class="form-control" name="sexo" value="{{prontuario.sexo}}" disabled>
              </input>
            </div>

          </div>

          <!-- Email,telefone,nome responsavel,escolaridade -->
          <div class="form-row">
            <div class="form-group col">
              <label for="inputEmail4">Email</label>
              <input type="email" class="form-control" id="email1" placeholder="" name="email"
                value="{{prontuario.email}}" disabled>
            </div>
            <div class="col">
              <label for="inputPassword4">Telefone</label>
              <input type="tel" class="form-control" id="telefone1" placeholder="(65) 9999 9999" name="telefone"
                value="{{prontuario.telefone}}" disabled>
            </div>

            <div class="col">
              <label>Escolaridade</label>
              <select class="form-control" name="escolaridade" id="escol" disabled>
                <option>Médio</option>
                <option>Superior</option>
                <option>Pos-Graduado</option>
                <option>Mestrado</option>
                <option>Doutorado</option>
              </select>
            </div>

          </div>

          <!-- contato,nome responsavel/cuidador -->
          <div class="form-group" id="cuidador">
            <label>Nome, Telefone ou outro tipo tipo de contato do responsável/cuidador (se aplicável)</label>
            <input type="text" class="form-control" id="cuidador1" name="cuidador" disabled>
          </div>


          <!--Alergia, ocupação-->
          <div class="form-row">
            <div class="form-group col">
              <label>Alergia</label>
              <input type="text" class="form-control" id="alergia1" name="alergia" value="{{prontuario.alergia}}"
                disabled>
            </div>

            <div class="col">
              <label>Ocupação</label>
              <select class="form-control" name="ocupacao" id="ocupacao1" disabled>
                <option>Estudante</option>
                <option>Profissional</option>
              </select>
            </div>

          </div>

          <!--limitações-->
          </br>
          <div class="form-row">

            <label>Limitação</label>
            <div class="form-group col">

              <input type="text" class="form-control" placeholder="Outras" id="outras1" name="outras" disabled>
            </div>

            <div class="col">
              <select class="form-control" name="cognitiva" id="cognitiva1" disabled>
                <option>...</option>
                <option>Cognitiva</option>
              </select>
            </div>

            <div class="col">
              <select class="form-control" name="locomocao" id="locomocao1" disabled>
                <option>...</option>
                <option>Locomoção</option>
              </select>
            </div>

            <div class="col">
              <select class="form-control" name="visao" id="visao1" disabled>
                <option>...</option>
                <option>Visão</option>
              </select>
            </div>

            <div class="col">
              <select class="form-control" name="audicao" id="audicao1" disabled>
                <option>...</option>
                <option>Audição</option>
              </select>
            </div>



          </div>

          <!--Sinais Vitais-->
          <br>
          <div class="form-row">
            <label>Sinais Vitais:</label>
            &nbsp;
            <label>PA</label>
            <div class="form-group col">
              <input type="number" class="form-control" id="pa1" name="pa" value="{{prontuario.pa}}" disabled>
            </div>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <label>FC</label>
            <div class="form-group col">
              <input type="number" class="form-control" id="fc1" name="fc" value="{{prontuario.fc}}" disabled>
            </div>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <label>FR</label>
            <div class="form-group col">
              <input type="number" class="form-control" id="fr1" name="fr" value="{{prontuario.fr}}" disabled>
            </div>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <label>T</label>
            <div class="form-group col">
              <input type="number" class="form-control" id="t1" name="t" value="{{prontuario.t}}" disabled>
            </div>
          </div>

          <!--Motivo do atendimento-->
          <div class="form-group">
            <label>Motivo do Atendimento</label>
            <input type="text" class="form-control" id="motivoatendimento1" name="motivo_atendimento"
              value="{{prontuario.motivo_atendimento}}" disabled>
          </div>



          <!--Doencas Cronicas-->
          <div class="form-row">
            <div class="form-group col -auto">
              <label>Doenças Cronicas:</label>
              <input type="text" class="form-control" id="doencascronicas1" name="doencas_cronicas"
                value="{{prontuario.doencas_cronicas}}" disabled>
            </div>
          </div>
          <!--Queixa-->
          <div class="form-row">
            <div class="form-group col -auto">
              <label>Queixa no momento:</label>
              <input type="text" class="form-control" id="queixamomento1" name="queixa_momento"
                value="{{prontuario.queixa_momento}}" disabled>
            </div>
          </div>

          <!--Anamnese-->
          <div class="form-row">

            <div class="form-group col -auto">
              <label>Anamnese</label>
              <textarea class="form-control" id="anamnese1" name="anamnese" rows="4">{{prontuario.anamnese}}</textarea>
            </div>
          </div>

          <!-- Exame fisico -->
          <div class="form-row">
            <div class="form-group col -auto">
              <label>Exame Fisico</label>
              <textarea class="form-control" id="examefisico1" name="exame_fisico"
                rows="4">{{prontuario.exame_fisico}}</textarea>
            </div>
          </div>

          <!-- Botão cadastrar -->
         <center>
         <button type="submit" name="salvar" class="btn btn-primary">Salvar</button>

            <!--Botão voltar -->

            <a class="btn btn-secondary" href="/showprontuarios">Voltar</a>
          </center>
        </form>
        <!-- div container fluid -->
      </div>

      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; Prontuário Eletrônico 2019</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Deseja Sair?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Selecione "Sim" abaixo caso queira sair da sua sessão atual.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Não</button>
          <a class="btn btn-primary" name="sairsim" href="/logout">Sim</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="js/sb-admin-2.min.js"></script>

  <!-- Page level custom scripts -->
  <script src="js/demo/chart-area-demo.js"></script>
  <script src="js/demo/chart-pie-demo.js"></script>

</body>

</html>