{{>_navbar}}
<div class="container mt-4">
    {{>_msg}}
    <center><h1>Prontu치rios</h1></center>
<hr>
<a href="/cadastrar-prontuario" class="btn btn-primary">Cadastrar Prontu치rio</a>


{{#each prontuarios}}

    <div class="card mt-4">
        <div class="card-body">
            <a href="/showprontuarios/view/{{_id}}">
                <h4>{{nome}}</h4>
            </a>
            <small>{{date}}</small><br>
            <a href="/showprontuarios/edit/{{_id}}"><button class="btn btn-success mt-4">Editar Prontu치rio</button></a> 
        </div>
    </div>

    {{else}}
    <div class="card mt-4">
        <div class="card-body">
            <h4>Nenhum prontu치rio cadastrado!</h4>
        </div>
    </div>
</div>
{{/each}}